// Not sure if this file has the correct name

#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Paw";

        kscan = <&kscan0>;
        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  167  (-500)    50   217> // 0
            , <&key_physical_attrs 100 100  113   80  (-350)   163   130> // 1
            , <&key_physical_attrs 100 100  227   40  (-200)   277    90> // 2
            , <&key_physical_attrs 100 100  361    0       0     0     0>
            , <&key_physical_attrs 100 100  491   50     300   541   100> // 4
            , <&key_physical_attrs 100 100 1271   50  (-300)  1321   100> // 5
            , <&key_physical_attrs 100 100 1401    0       0     0     0> // 6
            , <&key_physical_attrs 100 100 1535   40     200  1585    90> // 7
            , <&key_physical_attrs 100 100 1649   80     350  1699   130> // 8
            , <&key_physical_attrs 100 100 1762  167     500  1812   217> // 9
            , <&key_physical_attrs 100 100   10  267  (-500)    60   317> // 10
            , <&key_physical_attrs 100 100  120  180  (-350)   170   230> // 11
            , <&key_physical_attrs 100 100  234  140  (-200)   284   190> // 12
            , <&key_physical_attrs 100 100  361  100       0     0     0> // 13
            , <&key_physical_attrs 100 100  486  150     300   536   200> // 14
            , <&key_physical_attrs 100 100 1276  150  (-300)  1326   200> // 15
            , <&key_physical_attrs 100 100 1401  100       0     0     0> // 16
            , <&key_physical_attrs 100 100 1528  140     200  1578   190> // 17
            , <&key_physical_attrs 100 100 1642  180     350  1692   230> // 18
            , <&key_physical_attrs 100 100 1752  267     500  1802   317> // 19
            , <&key_physical_attrs 100 100   20  367  (-500)    70   417> // 20
            , <&key_physical_attrs 100 100  127  280  (-350)   177   330> // 21
            , <&key_physical_attrs 100 100  241  240  (-200)   291   290> // 22
            , <&key_physical_attrs 100 100  361  200       0     0     0> // 23
            , <&key_physical_attrs 100 100  481  250     300   531   300> // 24
            , <&key_physical_attrs 100 100 1281  250  (-300)  1331   300> // 25
            , <&key_physical_attrs 100 100 1401  200       0  1451   250> // 26
            , <&key_physical_attrs 100 100 1521  240     200  1571   290> // 27
            , <&key_physical_attrs 100 100 1635  280     350  1685   330> // 28
            , <&key_physical_attrs 100 100 1742  367     500  1792   417> // 29

            , <&key_physical_attrs 100 100  601  320     790   651   370> // 30
            , <&key_physical_attrs 100 100  711  336     990   761   386> // 31
            , <&key_physical_attrs 100 100  821  352    1190   871   382> // 32
            , <&key_physical_attrs 100 100  941  352 (-1190)   991   402> // 33
            , <&key_physical_attrs 100 100 1051  336  (-990)  1101   386> // 34
            , <&key_physical_attrs 100 100 1161  320  (-790)  1191   370> // 35
            ; 
    };
};









